@import 'vars';

.item-navbar {
  margin-right: 20px;
  padding: 8px;
  font-size: $--sm;
  font-weight: bold;
  line-height: 2rem;
  text-decoration: none;
  color: $--very-light-pink;
}

.item-navbar:hover {
  border: 1px solid $--hospital-green;
  border-radius: 8px;
  cursor: pointer;
  color: $--hospital-green;
}
