.product-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list-section .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 800px) {
  .product-list-section {
    width: 100%;
    /* display: flex;
    flex-direction: column; */
  }

  .product-list-section .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .product-list-section .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
